@import url('@nordhealth/css');
@import url('@nordhealth/fonts');

html,
body,
#__nuxt {
  font-family: sans-serif;
  background: var(--n-color-surface-raised);
}

body {
  font-family: var(--n-font-family);
  font-size: var(--n-font-size-m);
  line-height: var(--n-line-height);
  color: var(--n-color-text);
  background-color: var(--n-color-surface);
}

.text-accent {
  color: var(--n-color-accent);
}

.stack {
  max-inline-size: 550px;
  margin: var(--n-space-xl) auto;
}

.mr-2 {
  margin-right: var(--n-space-s);
}
